ion-button {
  margin: 20px;
}

ion-icon {
  font-size: 40px;
}

ion-menu{
  --width: 72px;
}

.wrapper {
  background: #dcdee3;
  vertical-align: middle;
  text-align:center;
}

.block {
  display: inline-block;
  white-space: normal;
  width: 28%;
  margin: 20px;
}

.round-box {
  text-align: left;
  border-radius: 15px;
  padding: 20px;
  color: #000000;
  height: 15%;
  background: #FFFFFF;
}

.list{
  margin-left: 3%; 
  margin-right: 3%;
}

.list-button{
  --background: #FFFFFF;
  color: #565454;
  --color: #000000;
}

.menu-button{
  --background: #dcdee3;
  color: #000000;
  --inner-border-width: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

ion-searchbar{
  width: 60%;
  display: inline-block;
  padding-left: 10%;
  color: #FFFFFF;
}