<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ users?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" *ngIf="users as users;">
  <div class="wrapper">
    <br>
    <div style="font-weight: bold; padding-left: 4%; text-align: left; color: #000000;"><ion-text>{{users.user_name}} {{ users.user_surname }} </ion-text></div>
    <div class="block round-box">
      <div style="display: inline-block; padding-right: 40%;">
        <!-- UPDATEINDICATOR -->
          <ion-img src="http://cdn.onlinewebfonts.com/svg/img_570334.png"></ion-img>
      </div>
    </div>
    <div class="block round-box">
      <ion-icon name="hammer-outline"></ion-icon>
      <br>
      <br>
      <div style="display: inline-block; padding-right: 20%;">
        <ion-text>User Id</ion-text>
        <br>
        <ion-text> {{ users.user_id }} </ion-text>
      </div>
    </div>
    <div class="block round-box">
      <ion-icon name="hammer-outline"></ion-icon>
      <br>
      <br>
      <div style="display: inline-block; padding-right: 20%;">
        <ion-text>Extra info</ion-text>
        <br>
        <ion-text>{{users.user_extra_info}}</ion-text>
      </div>
    </div>
  </div>
</ion-content>


