<ion-header>
<ion-toolbar color="secondary">
  <ion-title>Login</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>

  <div class="block round-box">
    <ion-input class="myInput" placeholder="Name" [(ngModel)]="name" (ngModelChange)="name = $event.toLocaleUpperCase()"></ion-input>
    <ion-input class="myInput" placeholder="Team id" [(ngModel)]="team_id" (ngModelChange)="team_id = $event.toLocaleUpperCase()"></ion-input>
    <ion-input class="myInput" placeholder="Score" [(ngModel)]="score" (ngModelChange)="score = $event.toLocaleUpperCase()"></ion-input>
    <ion-button class="myInputButton" (click)="submitDates()">Login</ion-button>
  </div>


</ion-content>
