<ion-header>
<ion-toolbar color="secondary">
  <ion-title>Login</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>

  <div class="block round-box">
    <ion-input class="myInput" placeholder="Name" [(ngModel)]="name"></ion-input>
    <ion-input class="myInput" placeholder="Team id" [(ngModel)]="team_id"></ion-input>
    <ion-input class="myInput" placeholder="Score" [(ngModel)]="score"></ion-input>
    <ion-button class="myInputButton" (click)="submitDates()">Login (add user dla testow)</ion-button>
  </div>


</ion-content>
