<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Witaj {{ username }}, Drużyna: {{ teamName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="block round-box">
    <ion-button class="myInputButton" >Jednoosobowy</ion-button>
    <ion-button class="myInputButton" >Wyzwanie</ion-button>
    <ion-button class="myInputButton" >Oczekujące wyzwania</ion-button>
    <ion-button class="myInputButton" [routerLink]='["stats"]'>Statystyki</ion-button>
  </div>


</ion-content>
